.container{
  
            .about-me{
                text-align: center;
                margin: 0 auto;
                margin-top: 40px;
                line-height: 2;
                font-style: italic;
                width: 600px;
            }
}
